<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Sidebar Fragment -->
<div th:fragment="sidebar" class="bg-light border-end" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light p-3">
        <span class="fw-bold">Navigation</span>
    </div>
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
            </svg>
            Jobs
        </a>
        <!-- Дополнительные пункты меню можно добавить здесь -->
    </div>
</div>

</body>
</html>
